/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/6/2, 下午 04:54:53
    Author     : Administrator
*/
body{
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", 
        "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    margin:0px;
    padding:0px;
}
.headermenu img{
    margin: 14.5px;
}
.headermenu{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 980px;
}
.header,.footer{
    height:100px;
}
header{
    padding: 20px;
    padding: auto;
    max-width:1000px;
    margin:auto;
    background:white;
}
footer{
    padding: 20px;
    padding: auto;
    max-width:1000px;
    margin:auto;
    background:white;
}
.dr{
    direction:rtl;
}
.dr a{
    color: red;
    text-decoration:none;
    margin: 5px;
}
.line1 {
    border-top: #6fba2c 1px solid;

}
.line2{
    min-width: 980px;
    border-top: #6fba2c 1px solid;

}
footer{
    clear: both;
    text-align:center; 
    width:954px;
    margin:auto;
}
.outer{
    width:954px;
    height:220px;
    margin:auto;
}
.outer img{
    width:954px;
    height:218px;
    display:block;
    position:absolute;
}
.dots{
    width:120px;
    height:20px;
    margin:auto;
    cursor:pointer;
}
.left {
    margin: 0;
    float: left;
    width: 200px;
    height: 400px;
    background-color: white;
}
.left a{
    text-decoration:none;
}
.left p{
    border-bottom-style: solid; 
    border-bottom-color:#cccccc;
    width:200px;
}
.right {
    margin: 20px;
    float: left;
    width: 720px;
    background-color: white;
}
#main_content img{
    width: 100%;
}
.page-container {
    width: 1000px;
    height: 1050px;
    background-color: white;
    margin: auto;
}
.right ul li img{
    height:135px;
}
.right ul li{
    width: 170px;
    display:  inline;
    float: left;
}
.button{
    width: 80px;
    clear: both;
    margin: auto;
}
.button a{
    text-decoration:none;
    margin: 10px;
}
.sort a{
    color: #ff00cc;
    text-decoration:none;
    margin: 15px;
    position:relative;
    left: 40px;
    font-size: 20px;
}
.page-container table.news_title{
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", 华文细黑, STHeiti, 微软雅黑, "Microsoft YaHei", SimHei, sans-serif;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.page-container .right .sub_header_menu{
    background-color: #6fba2c;
    width: 700px;
    height: 35px;
    font-size: 10px;
    color: #fff;
}
.sub_header_menu td{
    border-right: 1px solid #fff;
    font-size: 14px;
}
