/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/6/2, 下午 04:54:53
    Author     : Administrator
*/
body{
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", 
        "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
    margin:0px;
    padding:0px;
}
.headermenu img{
    margin: 14.5px;
}
.headermenu{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 980px;
}
.header,.footer{
    height:100px;
}
header{
    padding: 20px;
    padding: auto;
    max-width:1000px;
    margin:auto;
    background:white;
}
footer{
    padding: 20px;
    padding: auto;
    max-width:1000px;
    margin:auto;
    background:white;
    clear: both;
    text-align:center; 
    width:954px;
}
.dr{
    direction:rtl;
}
.dr a{
    color: red;
    text-decoration:none;
    margin: 5px;
}
.line1 {
    border-top: #6fba2c 1px solid;
}
.line2{
    min-width: 980px;
    border-top: #6fba2c 1px solid;
}
.outer{
    width:954px;
    height:220px;
    margin:auto;
}
.outer img{
    width:954px;
    height:218px;
    display:block;
    position:absolute;
}
.dots{
    width:120px;
    height:20px;
    margin:auto;
    cursor:pointer;
}
.left {
    margin: 0;
    float: left;
    width: 200px;
    height: 400px;
    background-color: white;
}
.left a{
    text-decoration:none;
    color: blue;
}
.left p{
    border-bottom-style: solid; 
    border-bottom-color:#cccccc;
    width:200px;
}
.right {
    min-height: 1050px;
    margin: 20px;
    float: left;
    width: 720px;
    background-color: white;
}
.customer_right{

}
#main_content img{
    width: 100%;
}
.page-container {
    width: max-content;
    height: 100%;
    background-color: white;
    margin: auto;
}
.right ul li img{
    height:135px;
}
.right ul li{
    width: 170px;
    display:  inline;
    float: left;
}
.button{
    width: 80px;
    clear: both;
    margin: auto;
}
.button a{
    text-decoration:none;
    margin: 10px;
}
.error{
    font-size: 20px;
    color: red;
}
.error li{
    position:relative; 
    top:10px;
    text-align:center;

}
.news_table{
    width: 100%;
    background-color: #99ff99;
}
.news_table th, td{
    text-align: left;
    padding: 8px;    
}
.news_table tr:nth-child(even){
    background-color: #cccccc;
}
.news_table tr{
    background-color: #f2f2f2;
}
.news_table th{
    background-color: #339900;
    color: white;
}
.news_table td a{
    text-decoration:none;
    color: #ff0066;
}
.news_td{
   
}
.News_button{    
    text-align: center;
}
.News_button a{
    color: black;
    text-decoration:none;
}
.Order_left{
    margin-left: 20px;
    float: left;
}
.Order_left ~ table, ~th, ~td {
    border-style:ridge;
}
.Order_left_input{
    width: 100%;
}
.Ordertitle{
    background-color: #99ff99;
}
.Order_right{
    margin: 0;
    float: left;
    margin-top: 20px;
    width: max-content;
    background-color: #ffffcc;
    font-size: 15px;
}
.Order_right_input input{
    margin-left: 50px
}
.Retailtitle{
    background-color: #00cc99;
}
.sort a{
    color: #ff00cc;
    text-decoration:none;
    margin: 15px;
    position:relative;
    left: 40px;
    font-size: 20px;
}
.North_menu a{
    color: blue;
    margin: 15px;
    position:relative;
    font-size: 15px;
    text-decoration:none;
}
.North_menu border{
    border-style:ridge;
}
.North_menu p{
    color: #cc0033;
}
.Retail_right {
    min-height: 1050px;
    margin: 20px;
    float: left;
    width: 720px;
}
.Retail_right{
    background-image: url("../image/map.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}